---
title: About - Eleventy Photo Gallery Template
meta_desc: A page about John Smith, and photography. This template is currently the default version so add your own about me page info here.
url: https://eleventy-gallery.netlify.app/about
img: /images/highway-water-large.jpg
alt: Terrace outside shop window with green plants and pink tree on night street
eleventyNavigation:
  key: About
  order: 2
heading: About
permalink: "/about/"
layout: main.njk
---

<div class="about-me-content">
  <h1>{{ heading }}</h1>
  <p>YEAR IN REVIEW: </p>
  <p>as we continued to work from home in 2021, our life was still centered around James' amazing cooking and great food.  
  The best time spent in our house this year was still around the kitchen.  
  But, unlike 2020, we got vaccinated early in the year, and then became American citizens in May.  
  What was stagnated due to Covid finally started moving along, 
  and we dared to travel to different cities and tried the outdoor life from time to time.  </p>
  
  <p>All through the year, we have stayed super close with Nicholsons in the other parts of the world, 
  hence their lives and travels are part of this year's yearbook too. </p>
</div>