---
eleventyNavigation:
  key: Home
  order: 0
heading: Nicholson & Jiang 2021 Year Book
description: A photo album of our life in 2021
layout: main.njk
title: Web Frontend Development Final Project
---

<div class="ft-h1">
  <h1>{{ heading }}</h1>
  <p>{{ description }}</p>
</div>

{% include "home-gallery.njk" %}